body{
    background-color: lightgray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#login-form{
    padding: 10px;
    border: 2px solid black;
    margin: auto;
    width: 50%;
    background-color: gray;
    overflow: hidden;
}

input{
    float: right;
    clear: both;
    width: 70%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
}

#login-text{
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
}

img{
    display: block;
    margin: auto;
    padding: 20px;
}

footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

button{
    margin: auto;
    display: block;
    background-color: rgb(19, 86, 19);
    border-radius: 5px;
    color: lightgray;
    border: none;
    display: block;
    width: 100%;
    padding-top: 25px;
}

button:hover{
    background-color: rgb(13, 58, 13);
}

label{
    display: inline-block;
    margin-bottom: 10px;
}